# Exploring olympic games dataset


Dataset found here
- [Olympics 124 years Dataset(till 2020)](https://www.kaggle.com/datasets/nitishsharma01/olympics-124-years-datasettill-2020)

In [2]:
import pandas as pd 

df_summer = pd.read_csv("../data/athletes_summer_games.csv", index_col=0)
df_summer

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,A Dijiang,M,24.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,A Lamusi,M,23.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,Gunnar Nielsen Aaby,M,24.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
15116,ZWOLINSKA Klaudia,F,22.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Canoe Slalom,Women's Kayak,NaN
15117,ZYKOVA Yulia,F,25.0,Russia,ROC,2020 Summer,2020,Summer,Tokyo,Shooting,50m Rifle 3 Positions Women,Silver
15118,ZYUZINA Ekaterina,F,24.0,Russia,ROC,2020 Summer,2020,Summer,Tokyo,Sailing,Women's One Person Dinghy - Laser Radial,NaN
15119,ZYZANSKA Sylwia,F,24.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Archery,Women's Individual,NaN
15120,ZYZANSKA Sylwia,F,24.0,Poland,POL,2020 Summer,2020,Summer,Tokyo,Archery,Mixed Team,NaN

In [3]:
df_swe = df_summer.query("NOC == 'SWE'")

df_swe_medals = df_swe[df_swe["Medal"].notna()]
df_swe_medals

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
727,Nils Georg berg,M,19.0,Sweden,SWE,1912 Summer,1912,Summer,Stockholm,Athletics,Athletics Men's Long Jump,Bronze
728,Nils Georg berg,M,19.0,Sweden,SWE,1912 Summer,1912,Summer,Stockholm,Athletics,Athletics Men's Triple Jump,Silver
903,Ara Abrahamian,M,29.0,Sweden,SWE,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Men's Light-Heavyweight, Greco-Roman",Silver
929,Erik Adolf Efraim Abrahamsson,M,22.0,Sweden,SWE,1920 Summer,1920,Summer,Antwerpen,Athletics,Athletics Men's Long Jump,Bronze
1237,Fausto Alesio Acke (Padovini-),M,22.0,Sweden,SWE,1920 Summer,1920,Summer,Antwerpen,Gymnastics,"Gymnastics Men's Team All-Around, Swedish System",Gold
...,...,...,...,...,...,...,...,...,...,...,...,...
11835,SCHOUGH Olivia,F,30.0,Sweden,SWE,2020 Summer,2020,Summer,Tokyo,Football,Women Team,Silver
11946,SEGER Caroline,F,36.0,Sweden,SWE,2020 Summer,2020,Summer,Tokyo,Football,Women Team,Silver
12308,SJOESTROEM Sarah,F,27.0,Sweden,SWE,2020 Summer,2020,Summer,Tokyo,Swimming,Women's 50m Freestyle,Silver
12569,STAHL Daniel,M,28.0,Sweden,SWE,2020 Summer,2020,Summer,Tokyo,Athletics,Men's Discus Throw,Gold
14016,von ECKERMANN Henrik,M,40.0,Sweden,SWE,2020 Summer,2020,Summer,Tokyo,Equestrian,Jumping Team,Gold

In [4]:
df_summer[df_summer["Medal"].notna()].groupby("NOC")["Medal"].count().sort_values(
    ascending=False
)

NOC
USA    5300
GBR    2126
URS    2063
GER    1860
FRA    1768
       ...
BUR       1
TOG       1
TKM       1
CYP       1
ERI       1
Name: Medal, Length: 151, dtype: int64

In [5]:
total_medals_swe = len(df_swe_medals)
total_medals_swe

1142

In [6]:
df_swe_medals.groupby("Name")["Medal"].count().sort_values(ascending=False)

Name
Alfred Gomer Albert "Alf" Swahn    9
Gert Fridolf Fredriksson           8
Gustaf Vilhelm Carlberg            8
Eric Otto Valdemar Lemming         7
Agneta Monica Andersson            7
                                  ..
Gunnar Alf Erik Berggren           1
Gunnar Alfred Olsson               1
Gunnar Anton Edvard Asther         1
Gunnar Emil Gabrielsson            1
von ECKERMANN Henrik               1
Name: Medal, Length: 830, dtype: int64

In [11]:
df_summer[df_summer["Medal"].notna()]

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
37,Arvo Ossian Aaltonen,M,30.0,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
38,Arvo Ossian Aaltonen,M,30.0,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
41,Paavo Johannes Aaltonen,M,28.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
42,Paavo Johannes Aaltonen,M,28.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...
15102,ZOU Jingyuan,M,23.0,China,CHN,2020 Summer,2020,Summer,Tokyo,Artistic Gymnastics,Men's Team,Bronze
15105,ZUBIMENDI Martin,M,22.0,Spain,ESP,2020 Summer,2020,Summer,Tokyo,Football,Men Team,Silver
15106,ZUEV Alexander,M,24.0,Russia,ROC,2020 Summer,2020,Summer,Tokyo,3x3 Basketball,Men Team,Silver
15112,ZVEREV Alexander,M,24.0,Germany,GER,2020 Summer,2020,Summer,Tokyo,Tennis,Men's Singles,Gold
15117,ZYKOVA Yulia,F,25.0,Russia,ROC,2020 Summer,2020,Summer,Tokyo,Shooting,50m Rifle 3 Positions Women,Silver