# Python summary part 1

## Data types

In [2]:
name = "Kokchun"
age = 33.5 
loves_math = True 

name

'Kokchun'

In [3]:
print(name)

Kokchun

In [7]:
print(f"My name is {name}, I am {age} years old.\nDo I love math: {loves_math}")

My name is Kokchun, I am 33.5 years old.
Do I love math: True

In [9]:
type(name), type(age), type(loves_math)

(str, float, bool)

In [10]:
print(type(name))

<class 'str'>

In [11]:
print(f"{type(age) = }")

type(age) = <class 'float'>

## Collection types 
- dictionary
- list
- tuple
- set

### list

In [12]:
# list of 4 strings
interests = ["badminton", "yoga", "math", "programming"]

# list of different data types
person = ["Kokchun", 33.5, True]

interests

['badminton', 'yoga', 'math', 'programming']

In [13]:
person

['Kokchun', 33.5, True]

In [15]:
type(person[1])

float

In [16]:
person.append(interests)

In [18]:
person

['Kokchun', 33.5, True, ['badminton', 'yoga', 'math', 'programming']]

accessing list

In [19]:
person[0]

'Kokchun'

In [20]:
person[-1]

['badminton', 'yoga', 'math', 'programming']

In [21]:
person[-1][2]

'math'

slicing a list

In [23]:
person[1:2]

[33.5]

In [24]:
person[1:3]

[33.5, True]

In [26]:
person[:]

['Kokchun', 33.5, True, ['badminton', 'yoga', 'math', 'programming']]

In [27]:
person

['Kokchun', 33.5, True, ['badminton', 'yoga', 'math', 'programming']]

In [28]:
person[0:]

['Kokchun', 33.5, True, ['badminton', 'yoga', 'math', 'programming']]

In [29]:
person[1:]

[33.5, True, ['badminton', 'yoga', 'math', 'programming']]

In [30]:
person[::-1]

[['badminton', 'yoga', 'math', 'programming'], True, 33.5, 'Kokchun']

iterating over lists
- for 
- while

In [31]:
numbers = []
for i in range(10):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
# list comprehension 
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
odd_numbers = [number for number in numbers if number % 2]
odd_numbers

[1, 3, 5, 7, 9]

In [34]:
squares = [number**2 for number in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
for square in squares: 
    print(square)

0
1
4
9
16
25
36
49
64
81

In [38]:
# mutating the list
squares[5] = "125"
squares

[0, 1, 4, 9, 16, '125', 36, 49, 64, 81]

In [39]:
hex(id(squares))

'0x111059c80'

In [41]:
squares[0] = True
squares

[True, 1, 4, 9, 16, '125', 36, 49, 64, 81]

In [42]:
hex(id(squares))

'0x111059c80'

### tuple
- immuatable collection

In [45]:
numbers = tuple(i for i in range(10))
numbers

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [46]:
type(numbers)

tuple

In [47]:
numbers[4]

4

In [49]:
numbers[5:-2]

(5, 6, 7)

In [50]:
# can't mutate a tuple
numbers[5] = 125

TypeError: 'tuple' object does not support item assignment

In [52]:
squares = tuple(number**2 for number in numbers)
squares

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [53]:
type(squares)

tuple

In [55]:
hex(id(numbers)), hex(id(squares))

('0x11109b9c0', '0x1110cc640')

### set
- unique collection

In [56]:
import random as rnd 

dices = [rnd.randint(1,6) for _ in range(20)]
dices

[4, 4, 5, 6, 2, 5, 6, 6, 6, 5, 2, 4, 5, 5, 4, 4, 5, 1, 2, 2]

In [58]:
unique_dices = set(dices)
unique_dices

{1, 2, 4, 5, 6}

In [59]:
unique_dices[0]

TypeError: 'set' object is not subscriptable

In [60]:
set2 = {1,2,3,10,15}
set2

{1, 2, 3, 10, 15}

In [63]:
unique_dices

{1, 2, 4, 5, 6}

In [64]:
unique_dices.intersection(set2), unique_dices & set2

({1, 2}, {1, 2})

In [66]:
unique_dices | set2, unique_dices.union(set2)

({1, 2, 3, 4, 5, 6, 10, 15}, {1, 2, 3, 4, 5, 6, 10, 15})

### dictionary

- key:value pair

In [67]:
person1 = dict(name = "kokchun", age = 33.5, loves_math = True)
person1

{'name': 'kokchun', 'age': 33.5, 'loves_math': True}

In [68]:
person2 = {"name": "kokchun", "age": 33.5, "loves_math": True}
person2

{'name': 'kokchun', 'age': 33.5, 'loves_math': True}

In [69]:
person1 == person2

True

In [72]:
hex(id(person1)), hex(id(person2))

('0x1102a7e00', '0x110645580')

In [73]:
hex(id(person1)) == hex(id(person2))

False

iterating through dictionary

In [74]:
for key in person1:
    print(key)

name
age
loves_math

In [75]:
for key in person1:
    print(person1[key])

kokchun
33.5
True

In [76]:
person1["name"]

'kokchun'

In [82]:
for key, value in person1.items():
    print(f"{key:<15} {value}")

name            kokchun
age             33.5
loves_math      True

dictionary comprehension

In [86]:
ml_terms = [
    "Supervised Learning",
    "Unsupervised Learning",
    "Feature Engineering",
    "Overfitting",
    "Cross-Validation",
]


ml_explanations = [
    "Learns from labeled data.",
    "Finds patterns in unlabeled data.",
    "Enhances input features for models.",
    "Model fits training data too closely.",
    "Evaluates model performance robustly.",
]


glossary = {
    term.lower(): explanation.lower()
    for term, explanation in zip(ml_terms, ml_explanations)
}
glossary

{'supervised learning': 'learns from labeled data.',
 'unsupervised learning': 'finds patterns in unlabeled data.',
 'feature engineering': 'enhances input features for models.',
 'overfitting': 'model fits training data too closely.',
 'cross-validation': 'evaluates model performance robustly.'}

In [87]:
glossary["supervised learning"]

'learns from labeled data.'